[Desktop Entry]
Type=Application
Exec=condy load
Terminal=false
X-GNOME-Autostart-enabled=true
Name=condy
GenericName=conky desktop daemon
Comment=Start conky and rotate the desktop wallpaper
