[Desktop Entry]
Type=Application
Exec=condy load
Terminal=false
X-GNOME-Autostart-enabled=true
Name=condy
GenericName=conky desktop daemon
Comment=Advanced, highly configurable system monitor for X11
